.randomNum{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color:#fff;
    text-align: center;
    margin: 10px;
    font-size: 22px;
    align-items: center;
    line-height: 45px;
}
.lotto{
margin: 0 auto;
align-items: center;
position: absolute;
top: 40%;
left: 50%;
translate: -50%;

}
.plus{
    font-size: 40px;
    color: rgb(173, 173, 173);
    line-height: 65px;
}
.confrim{
    cursor: pointer;
    margin: 0 auto;
    border: none;
    padding: 8px;
    font-weight: bold;
    display: block;
}
.lottoNum{
    display: flex;
}
.plusNum{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color:#fff;
    text-align: center;
    margin: 10px;
    font-size: 22px;
    align-items: center;
    line-height: 45px; 
}
