@font-face {
  font-family: "NanumSquareNeo-Variable";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #fcc3a1;
  font-family: "NanumSquareNeo-Variable";
}
.container {
  position: absolute;
  left: 50%;
  top: 3%;
  translate: -50%;
  width: 580px;
  height: 95%;
  background-color: #fff;
  align-items: center;
  text-align: center;
  box-shadow: rgba(87, 87, 87, 0.295) 20px 20px 20px 10px;
  color: #315afe;
}
.header {
  display: flex;
  width: 100%;
  font-size: 20px;
  justify-content: space-between;
  padding-top: 30px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 30px;
  box-sizing: border-box;
  border-bottom: 1px solid #bbe0f8;
}
.day {
  display: flex;
}
.dayOfWeek {
  font-size: 25px;
}
.date {
  margin-left: 15px;
  font-weight: 100;
  font-size: 20px;
  line-height: 30px;
  color: #7c96ff;
}
.footer {
  position: absolute;
  display: flex;
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 30px;
  padding-bottom: 30px;
  box-sizing: border-box;
  width: 100%;
  bottom: 0;
  border-top: 1px solid #bbe0f8;
  font-size: 18px;
  font-weight: lighter;
}
.count {
  display: flex;
}
.countNumber {
  margin-right: 20px;
}
.addnew {
  display: flex;
}
.addnewBtn {
  font-size: 20px;
  margin-left: 30px;
  cursor: pointer;
}
.main {
  position: relative;
}
.favDialog {
  position: absolute;
  top: 30%;
  left: 50%;
  translate: -50%;
  width: 400px;
  height: 210px;
  padding: 20px;
  border: none;
  box-shadow: #64c1ff3b 10px 10px 10px;
  border-radius: 10px;
}
.dialog {
  padding: 50px;
  box-sizing: border-box;
}
.input_fields {
  cursor: text;
  margin: 0 auto;
  margin-top: 20px;
  width: 300px;
  margin-bottom: 10px;
}
#title {
  font-family: "NanumSquareNeo-Variable";
  font-size: 20px;
  outline: none;
  width: 100%;
  height: 40px;
  border: none;
}
#contents {
  margin-top: 5px;
  font-family: "NanumSquareNeo-Variable";
  font-size: 15px;
  outline: none;
  width: 100%;
  height: 40px;
  border: none;
}
#scheduletime {
  font-size: 12px;
  text-align: center;
  width: 30%;
  font-family: "NanumSquareNeo-Variable";
  margin-bottom: 20px;
}
#deleteBtn {
  margin-right: 10px;
  width: 50px;
  background-color: #f5f5f5;
  border-radius: 5px;
  border: none;
  padding: 5px;
}
#confirmBtn {
  background-color: #fce0d0;
  width: 50px;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
  padding: 5px;
}
.task-container {
  text-align: center;
  line-height: 30px;
  width: 100%;
  height: 100%;
  display: flex;
  margin-top: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  box-sizing: border-box;
  position: relative;
}
.task-container h3 {
  cursor: pointer;
  margin-left: 20px;
  margin-right: 30px;
}
.task-container p {
  display: none;
  position: absolute;
  top: 30px;
  left: 67px;
  margin-right: 30px;
}
.task-container span {
  position: absolute;
  right: 30px;
  font-size: 12px;
  color: #7c96ff;
}
.task-container time {
  display: none;
  font-size: 12px;
  margin-right: 30px;
  color: #7c96ff;
  position: absolute;
  right: 100px;
}
.task-container button{
    position: absolute;
    right: 30px;
    top: 30px;
    width: 50px;
    height: 25px;
    background-color: #fff;
    border:1px solid #bbe0f8;
    border-radius: 5px;
    cursor: pointer;
}
